<div align="center">
	<%if !@place_reservations.nil? %>
		<h3 align="center">Lugares</h3>
			<%= render 'place_reservation', obj: @place_reservations %>
	<% end %>
</div> 
	

<div align="center">
	
</div>