<div class="row">
	<h1>Lugares</h1>
</div>
<div class="row">
	<% @places.each do |place| %>
		<div class="col-md-3"><%= place.name %></div>
	<% end %>
</div>

<div class="row">
	<h1>Experiencias</h1>
</div>
<div class="row">
	<div class="col-md-3">lugar1</div>
	<div class="col-md-3">lugar2</div>
	<div class="col-md-3">lugar3</div>
	<div class="col-md-3">lugar4</div>
</div>