<div class="row">
	<h1 align="center">Lugares</h1>
</div>
<div class="row">
	<% @places.each do |place| %>
		<div class="col-md-3">
			<%= image_tag place.picture %>
			<%= link_to place.name, place_path(place), align: "center"%>
		</div>
	<% end %>
</div>

<div class="row">
	<h1 align="center">Experiencias</h1>
</div>
<div class="row">
	<% @experiences.each do |exp| %>
		<div class="col-md-3">
			<%= image_tag exp.picture %>
			<%= link_to exp.name, experience_path(exp)%>
		</div>
	<% end %>
</div>