<% obj.each do |exp| %>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="well well-lg">
					<div class="experience_name">
						<%= link_to exp.name, experience_path(exp)%>
					</div>
					<div class="experience_body">
						<%= truncate(exp.description, length: 50)%>
					</div>
					<%= exp.country%>
					<%= exp.city%>
				</div>		
			</div>
		</div>
	<% end %>