<div class="container">
	<footer class="footer">
		<small>Este projeto faz parte de um desafio para seleção na RedRocket. Elaborado por <a href="https://github.com/SousaItalo">Italo Sousa </a></small>
	</footer>
</div>